services:
  web:
    build: .
    command: gunicorn -w 4 -b 0.0.0.0:5000 app:app
    expose:
      - "5000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    restart: always