<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход в Админку | Кондитерская Валентины</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png')}}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon/favicon.svg')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico')}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png')}}" />
    <meta name="apple-mobile-web-app-title" content="Кондитерская Валентины" />
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest')}}" />
</head>

<body>

    <main class="login-container">
        
        <div class="login-box">
            <h1 class="logo">Админ-панель</h1>
            <h2 class="title">Вход</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('admin_login') }}">
                
                <div class="input-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" name="login" required>
                </div>
                
                <div class="input-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <button type="submit" class="login-btn">Войти</button>
            </form>

            <a href="/" class="back-link">← Вернуться на сайт</a>
        </div>

    </main>

</body>
</html>